*.egg-info
*.py[cod]
*.swo
*.swp
*~
.#*
.cache
.coverage*
.ctrlp
.DS_Store
.idea
.noseids
.project
.pydevproject
.ropeproject
.settings
.tags*
.tox
\#*
build
dist
docs/_build
docs/_static
docs/javascript
docs/Makefile
docs/python
docs/themes
local_database_settings.py
local_test_settings.py
log
media
node_modules
storage
test_storage
ve
*/__pycache__
*.pyc